<div id="container">
  <img id='ie-background' style='display: none;' src='https://media.healthmedia.com/media/images/backgrounds/victory.jpg' />
  <div id="container-inner" class="pngIE">
      <div id="wrap">
          <div id="content-inner" class="clearfix">
<style>
    #container{
      background-image: url('https://media.healthmedia.com/media/images/backgrounds/victory.jpg');
    }
    #ie-background {
      position: fixed;
      top: 76px;
      width: 100%;
      right: 0;
      display: none;
      z-index: 0;
    }
  </style>
      <div id="video-wrapper" class="invisible">
        <div id="video-content">
          <div id="video-container"></div>
        </div>
        <a href="javascript:void(0);" title="Close Video Player" class="close-player">Close Video Player &raquo;</a>
      </div>
      <div class='introduction-text'>
          <h3 class="c5-color">{{programName}}</h3>
          <p>Even if you can't be at your best all the time, what if you could
    have more energy, stress less, or kick that not-so-great-for-you habit? We'll help you build skills
    based on your goals, your needs, and your life to help improve your health. And you just may
    find you can be at your best more often.</p>
          <a class="c5-background-color" href="register" id="get-started-button" data-dom-id="get-started-button">Get Started</a>
      </div><div id="block-healthmediaportal-13" class="block-healthmediaportal">


  <div class="content"><div class="view-hm-video-list boxes-2">
  <div class="view-content">
        <div class="boxes">
      <ul>
          <li class="video-item" id="slot-order-1">
    <div class="corner-bar">
      <span class="c4-border-color corner"></span>
    </div>
    <div class="video-container" data-bindpoint="video-container">
      <h4 class="c4-color">Skills For Life
    </h4>
              <p>What we do
    </p>

              <div class="desktop-video">
                      <a title="Play Skills For Life
     Video" data-bindpoint="vimeo-video" data-dom-id="play-by-img-click" data-videoId="121791632" target="_blank" class="video c4-color">
              <img title="Skills For Life
    " alt="Skills For Life
    " src="https://media.healthmedia.com/media/images/healthmedia/video/video-what-we-do-thumb.jpg" />
            </a>
            <div class="mobile-video">
              <iframe src="//player.vimeo.com/video/121791632?color=0066CC" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a title="Play Skills For Life
     Video" data-bindpoint="vimeo-video" data-dom-id="play-text-click" data-videoId="121791632" class="video c4-color">
              Play Video &raquo;
            </a>
            <a class="view-transcript open-home-callout c4-color" data-dom-id="view-trans" href="javascript:void(0)" title="View Transcript" >
              View Transcript            </a>
            <div class="view-transcript-text" style="display: none;">
              <div class="content-text">
            (Multiple voices)
            <br /><br />
    I want to have more energy.
    <br /><br />
    I want to live a full life.
    <br /><br />
    I want to feel healthy again.
    <br /><br />
    How do I get there?
    <br /><br />
    There’s nothing more personal than the things that you want in your life…and the reasons that you want them.
    <br /><br />
    Our Digital Health Coaching programs are based in science and built to be personal—to help you find ways to achieve those things that you want most.
    <br /><br />
    Based on information you share about yourself and what matters most to you, our experts create a plan just for you.
    <br /><br />
    Plans consist of skills to build and action steps to take—all chosen to match your motivation, goals—and truly, what you value.
    <br /><br />
    It’s as easy as putting more thought into what you do every day.
    <br /><br />
    You know what you want, we can help you build the skills to get there.
    <br /><br />

    </div>
            </div>
              </div>
          </div>
  </li>
  <li class="video-item" id="slot-order-2">
    <div class="corner-bar">
      <span class="c4-border-color corner"></span>
    </div>
    <div class="video-container" data-bindpoint="video-container">
      <h4 class="c4-color">The Science
    </h4>
              <p>Why we do it
    </p>

              <div class="desktop-video">
                      <a title="Play The Science
     Video" data-bindpoint="vimeo-video" data-dom-id="play-by-img-click" data-videoId="131663461" target="_blank" class="video c4-color">
              <img title="The Science
    " alt="The Science
    " src="https://media.healthmedia.com/media/images/healthmedia/video/video-hws-science.jpg" />
            </a>
            <div class="mobile-video">
              <iframe src="//player.vimeo.com/video/131663461?color=0066CC" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a title="Play The Science
     Video" data-bindpoint="vimeo-video" data-dom-id="play-text-click" data-videoId="131663461" class="video c4-color">
              Play Video &raquo;
            </a>
            <a class="view-transcript open-home-callout c4-color" data-dom-id="view-trans" href="javascript:void(0)" title="View Transcript" >
              View Transcript            </a>
            <div class="view-transcript-text" style="display: none;">
              <div class="content-text">
      (Multiple voices)<br/><br/>
            It all starts with who you want to be.<br/><br/>
            Our programs zero in on your mission, what you want most at this moment in your life.<br/><br/>
            Our research shows that people want health FOR something.  “I want to be healthier.”  “I want to have more energy.”  “I want to be there for my family.”<br/><br/>
            Digital Health Coaching learns about who you are as a person, and what your health needs are, and takes all that and then pulls together a plan that is very individual.<br/><br/>
            Digital Health Coaching are technology based tools and resources that you can have to help you manage whatever condition you might be struggling with.<br/><br/>
            Diabetes, depression, stress, sleep problems, emotional eating.  What I love about our programs is that we offer you the skills to help you handle these issues more effectively.<br/><br/>
            We learn about an individual’s health risk and health background, but also about what motivates them, what barriers get in the way of making health behavior change, and then we use algorithms that we have developed using behavior science and medical science to pull together a behavior change plan for them.<br/><br/>
            Based on what we learn about you through what you share about your health, habits, and lifestyle, our coaching technology allows us to provide you with just the right plan to help meet your needs. We do this because research tells us that the more personalized a program is to you, the better results you will get.  Plus our recommended plan for you is grounded in evidence-based national health guidelines.<br/><br/>
            We transfer our best coaching in matters of the mind and body into an easy to use and beautiful program that can show you new opportunities to make positive changes in your health—and your life.<br/><br/>
            Taking action—developing new skills to connect you with what’s most important to you—that’s what we can help people do. Change IS possible in your life. These programs can help you change.<br/><br/>

    </div>
            </div>
              </div>
          </div>
  </li>
      </ul>
    </div>

  </div>
</div>

</div>
</div>

</div>
</div>
</div>
</div>
